body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.topnav {
  overflow: hidden;
  background-color: #333;
}

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #04AA6D;
  color: white;
}

.topnav .icon {
  display: none;
}

@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}

body, html {
  height: 100%;
}

.parallax {
  /* The image used */
  background-image: url('https://i2.wp.com/www.codeofliving.com/wp-content/uploads/2021/02/Frienship-11.jpg?fit=1160%2C653&ssl=1');

  /* Full height */
  height: 100%; 

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.parallax1 {
  /* The image used */
  background-image: url('https://wallpapercave.com/wp/wp2510677.jpg');

  /* Full height */
  height: 100%; 

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .topnav {
    overflow: hidden;
    background-color: #333;
  }
  
  .topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .topnav a.active {
    background-color: #04AA6D;
    color: white;
  }
  
  .topnav .icon {
    display: none;
  }
  
  @media screen and (max-width: 600px) {
    .topnav a:not(:first-child) {display: none;}
    .topnav a.icon {
      float: right;
      display: block;
    }
  }
  
  @media screen and (max-width: 600px) {
    .topnav.responsive {position: relative;}
    .topnav.responsive .icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .topnav.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
  }
  
  body, html {
    height: 100%;
  }
  
  .parallax {
    /* The image used */
    background-image: url('https://lh3.googleusercontent.com/82fmTi1wGf4PH9ynVhkwHW_OiSUJbV7mBsLWImhAd1qiRIqYbTMEwubB2aeKNFB0nmakTjXXLKoG_9oPbhCDaJYDuLcFVzmZJGX5RcK4B5M1JMZD1w9TC_a7s9bVnT-SV7lB5glS05Af7q3omTImIyiX4nRZw8ap19WYELUm1BGqHzxBGi_eLCcac-xsqgUKJaP4TbTMT6V_mbruvuH46Ryw8ZEspp5jUdBWejyiOEOZYU74vwEqc-TuLKx8FMWx0MXNcjPZNDODbmjzVfuYVQRDLT-_05bBcS7n2hPYq21sGxdRt7bhTGY0167XJYv7FV5Pe_pkMP6hzkxJR4YlTfOxLn94vntF_JYM9U2J3hzqbdVa0qRk2E7h4zhMUoyKHKH_Rud9tpAJkNoic_tKcpv5VZmfRoY9swbgt7dh785KNYcgpp3vp4k2M9mpU9IE94FV8fejgyBI3vt5izib9_ZChVKxokjRTIqW2EU94LHOSPjhyGHrYrZs4riA_EUL84UmN4RquJ4b4LK-XAMTV2lIQtysEwMOyxCGDDnidKj6D6tZ6yIXxvE7tzFDm6ZvMWosC7q2Ob449WFJm1jOkhUkrDbqYeWV0tssWyajeQpbZFSHuLLQUQ2Y51p7nyCCjITGN4FoQPq_sl7wJSJbEmvf4M92Uyw697Y6rFI-36wIW_e4AbfxWdryhynmVIsRB-VgixQ_T8Uj1wy0uwmNzvE=w1114-h583-no?authuser=0');
  
    /* Full height */
    height: 100%; 
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .parallax1 {
    /* The image used */
    background-image: url('https://wallpapercave.com/wp/wp2510677.jpg');
  
    /* Full height */
    height: 100%; 
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }